	BODY {
		color:#000000;
		font-size:10pt;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:2px;
		margin-left:2px;
		
	}
	BODY.indexbody{
		color:#303030;
		font-size:10pt;
		font-weight:600;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:0px;
		margin-left:0px;
		background:#FFFFFF;
		repeat:  repeat-x FFFFFF;
   		background-attachment: fixed;
	}

	TABLE.indextable{
		cellspacing:0;
		boder:0px;
		cellpadding:0;
	}
	TABLE.columnbartable{
		cellspacing:0px;
		boder:0px;
		cellpadding:0px;
		border-collapse:collapse;
	}
	TD.indextd{
		background: #FAFAFA;
		
	}
	TD.columnbar1{
		background-image:url(../images/cloumnbar1.jpg);
		boder:0px;
	}
	TD.columnbar2{
		background-image:url(../images/cloumnbar2.jpg);
		boder:0px;
	}
	TD.columnbar3{
		background-image:url(../images/cloumnbar3.jpg);
		boder:0px;
	}
	TD.indexmenutitle{
		background-color:yellow;
	}
	TD.indexmenucontent{
		background-color:#EBEBEB;
	}
	A:link {
  		color: #303030; text-decoration: none;
  		text-decoration: underline;
 	}
 	A:visited {
  		color: #303030; text-decoration: none;
  		text-decoration: underline;
 	}
 	A:hover {
  		color: red; text-decoration: underline;
 	}
 	HR{
 		border:1px #000;
 		height:0px;
 		margin-top:0px;
 		margin-bottom:0px;
	}
	BODY.menubody {
		color:#000000;
		font-size:10pt;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:0px;
		margin-left:0px;
		background:#E7EEEF;
	}
	BODY.loginbody {
		color:black;
		font-size:13pt;
		font-weight:bold;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:0px;
		margin-left:0px;
		repeat:  repeat-x FFFFFF;
   		background-attachment: fixed;
   		background:white;
	}	
	TABLE.logintable{
		cellspacing:0px;
		boder:0;
		width:100%;
		height:305px;
		cellpadding:0;
		border:0px solid;
		
	}
	TABLE.logintable2{
		cellspacing:0px;
		border-left:1px solid #838B8B;
		border-top:1px solid #838B8B;
		border-right:3px solid #838B8B;
		border-bottom:3px solid #838B8B;
		cellpadding:0;
		background:#F5F5F5
	}
	TABLE.toptable{
		cellspacing:0;
		frameboder:0;
		padding-left:0;
		background:#FFFFFF;
	}
	TD.toptd{
		font-weight:bold;
		padding:0;
		margin:0px;
	}
	TD.toptd2{
		font-weight:bold;
		background:#6CA6CD;
		padding:0;
		margin:0px;
	}
	
	TABLE.listtable{
		border: 1px solid #9CB8CC;  
        padding:0; 
        margin:0 auto;  
        border-collapse: collapse;
		background:#9CB8CC;
	}
	TABLE.bottomtable{
		cellspacing:0px;
		boder:0;
		cellpadding:0;
	}
	TD.tdhead{
		background:#D2E3F0;
		color:#000000;
		font-weight:bold;
		height:25px;
		border-right: 1px solid #9CB8CC;  
	}
	TD.data1{
		background:white;
		font-size:4;
		border-right: 1px solid #9CB8CC; 
		border-bottom: 1px solid #CCCCCC; 
	}
	TD.data2{
		background:white;
		font-size:4;
		border-right: 1px solid #9CB8CC;  
		border-bottom: 1px solid #CCCCCC;
	}
	div.listdiv{
		height:400px;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:0px;
		margin-left:0px;
		overflow:auto;
	}
	form {
		margin-top:0px;
		margin-bottom:0px;
		margin-right:2px;
		margin-left:2px;
	}
	A{
		color:#473C8B;
	}
	input.input300{
		width:300px;
	}
	select.select300{
		width:306px;
	}
	select.queryselect{
		background-color:#FFFFFF;
	}
	input.input300red{
		width:300px;
		color:red;
	}
	input.querytext{
		background-color:#FFFFFF;
	}
	textArea.areaform300{
		width:300px;
	}
	textArea.areaformbig{
		width:80%;
		height:70px;
	}
	input.querydate{
		background-color:#CCCCCC;
	}
	div.menudiv{
		height:100%;width:170px;overflow:auto;
	}
	div.parentmenudiv{
		cursor:pointer;width:170px;height:23px;
		overflow:false;background:#7B68EE;margin-top:1px;;margin-bottom:0px;
		margin-left:0px;font-size:9pt;color:white;font-weight:500;text-align:center;
		line-height:23px;background-image:url(../images/pmenu.png);
		border-bottom:1px solid #6C92AD;
	}
	div.sonmenudiv{
		width:170px;height:20px;overflow:false;margin-top:1px;cursor:pointer;
		background:#E7EEEF;text-align:center;font-weight:500; line-height:20px;
		color:#005590;font-size:9pt;
	}
	div.sonmenudiv2{
		width:170px;height:20px;overflow:false;margin-top:1px;
		cursor:pointer;background:#FFFFFF;text-align:center;text-valign:middle;
		font-weight:500;color:#005590;line-height:20px;font-size:9pt;
		border-bottom:1px solid #6C92AD;border-top:1px solid #6C92AD;
	}
	div.indexbar0{
		float:left;
		width:120px;
		height:30px;
		text-align:center;
		line-height:30px;
		color:white;
		cursor:pointer;
	}
	div.indexbar1{
		float:left;
		width:120px;
		height:30px;
		text-align:center;
		line-height:30px;
		color:white;
		background:#FFA54F;
		cursor:pointer;
	}
	div.cshow{
		display:block;
		border-left:1px solid;
		border-right:1px solid;
		border-bottom:1px solid;
		height:294px;
		width:598px;
	}
	div.chidden{
		display:none;
		border-left:1px solid;
		border-right:1px solid;
		border-bottom:1px solid;
		height:300px;
		width:598px;
	}
	div.querydiv{
		width:100%;
		margin-top:4px;
		margin-bottom:4px;
	}
	div.buttondiv{
		text-align:right;
		background:#D2E3F0;
		float:left;
		width:60%;
		margin-top:5px;
		border-top:1px solid #9CB8CC;
		height:38px;
		line-height:38px;
	}
	div.pagerdiv{
		text-align:left;
		background:#D2E3F0;
		float:left;
		width:40%;
		margin-top:5px;
		border-top:1px solid #9CB8CC;
		height:38px;
		line-height:38px;
	}
	
	